CKAN_INI=

# ckan
CKAN_VERSION=2.9.5

# postgresql
DATACONV_POSTGRES_USERNAME=
DATACONV_POSTGRES_PASSWORD=
DATACONV_POSTGRES_PORT=
DATACONV_POSTGRES_DB=
DATACONV_POSTGRES_DATASTORE_DB=

# solr
SOLR_CORE=
SOLR_USER=
SOLR_PORT=

# Redis
REDIS_PORT=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

# Mongo
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=admin
MONGO_PORT=

### CKAN ENV ###
CKAN_SQLALCHEMY_URL=postgresql://${DATACONV_POSTGRES_USERNAME}:${DATACONV_POSTGRES_PASSWORD}@localhost:${DATACONV_POSTGRES_PORT}/${DATACONV_POSTGRES_DB}
CKAN_DATASTORE_WRITE_URL=postgresql://${DATACONV_POSTGRES_USERNAME}:${DATACONV_POSTGRES_PASSWORD}@localhost:${DATACONV_POSTGRES_PORT}/${DATACONV_POSTGRES_DATASTORE_DB}
CKAN_DATASTORE_READ_URL=postgresql://${DATACONV_POSTGRES_USERNAME}:${DATACONV_POSTGRES_PASSWORD}@localhost:${DATACONV_POSTGRES_PORT}/${DATACONV_POSTGRES_DATASTORE_DB}
CKAN_REDIS_URL=redis://localhost:${REDIS_PORT}/0
CKAN_SOLR_URL=http://localhost:${SOLR_PORT}/solr/${SOLR_CORE}
CKAN_SITE_URL=http://localhost:5000
